.bd-gov-logo{
    height: 8rem;
}
.logo-title{
    font-size: 2.5rem !important;
    padding: 1rem;
}
.bd-gov-logo-nav{
    height: 3rem;
}
.nav-title{
    font-size: 1.3rem !important;

}
.leftbar-title{
    font-size: .9rem !important;

}
.homepage-content{
    margin-top: 9rem;
}

span.relative.z-0.inline-flex.shadow-sm.rounded-md {
    display: none;
}

.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
    padding-top: 0.5rem;
}
