:root {
    --dark-green: #6ab04c;
    --light-green: #b8e994;
    --medium-blue: #22a6b3;
    --medium-red: #eb4d4b;
}
.link-text{
    text-decoration: none;
    font-weight: bold;
    color: var(--dark-green);
    cursor: pointer;
}
/* .layer {
    background-color: #19875475;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.layer2 {
    background-color: rgba(248, 247, 216, 0.7);
    width: 100%;
    height: 100%;
}
.error-section{
    background-color: var(--light-red);
    color: white;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.error-section ul{
    list-style: none;
}
.sponsor-img{
    height: 2rem;
}
.stat-filter-select{
    /* border: 1px solid #fff; */
    background-color: transparent;
    color: white;
    border: none;

}
.stat-filter-select option{
    /* border: 1px solid #fff; */
    /* background-color: transparent; */
    color: black;
    /* border: none; */

}
.header-div{
    padding: 1rem;
    border-radius: 1rem;
}
.homepage-card-body{
    background-image: url('../images/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
.mainbody{
    /* background-color: #8DC642; */
    background: url('../images/ivancik.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.login-section{
    /* background-color: #8DC642; */
    background-color: var(--light-green);
    padding: 2rem;
    border-radius: 1rem;
}
.homepage-card .card-body{
    /* background-color: #8DC642; */
    background-color: #0000;
}
.homepage-card-header2{
    background-color: var(--light-green);
}
.homepage-card{
    height: 100vh;
}
.homepage-card,
.homepage-card-header,
.homepage-card-header2 {
    border: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    /* border-radius: 0 !important; */

}
.homepage-card-header,
.lower-footer{
    background-color: var(--dark-green);
    color: white;

}
.homepage-card-header2{
    border: none;

}
.right-aligned-content{
    text-align: right !important;
}
.logo-home{
    height: 6rem;
    padding-bottom: .3rem;
}
.title-home{
    font-size: 1.4rem !important;
    font-weight: 800;
    /* padding: .5rem; */
}
.center-element{
    width: 25rem;
}
.upper-footer{
    background-color: var(--light-green);
}
.call-section{
    /* background-color: #296D3B;
     */
    background-color: var(--light-green);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
}
.home-button{
    padding: 1rem;
    margin-bottom: 1rem;
    color: white;
    border: none;
    /* background-color: grey; */
    font-size: x-large;
    border-radius: 0 2.5rem;
}
.citizen-btn{
    background-color: var(--dark-green);
}
.ofc-btn{
    background-color: var(--medium-blue);
}
.home-card{
    border: none;
}
.home-card .card-body{
    /* background-color: #8DC642; */
    margin-bottom: -1rem;
    /* background-color: #8DC642; */
    margin-top: -1rem;
    padding: 2.5rem;

}
.footer-column{
    padding: 1rem;
}
.fo-title h2{
    font-size: small;

    font-weight: 800;
    padding: .5rem;
}
.social-icons{
    color: white;
    border-radius: 3rem;

}
.facebook{
    padding: 1rem 1.3rem;
    background-color: #129AF6;

}
.youtube{
    padding: 1rem;
    background-color: red;


}
.leftbar-title{
    font-size: .8rem !important;
}

.landing-navbar{
    justify-content: center !important;
    background-color: var(--dark-green) !important;
    padding: .5rem;
}
.landing-navbar .nav-link{
    color: white !important;
}

@media only screen and (max-width: 600px) {
    .logo-home{
        height: 7rem;
        padding: .5rem;
    }
    .title-home{
        font-size: 1.2rem !important;
    }
    .right-aligned-content, .left-aligned-content{
        text-align: center !important;
    }
  }




/*
